{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ super() }} Home{% endblock %}

{% block page_content %}
<h1>Welcome to Ragtime, {% if name %}{{ name }}{% else %}Anonymous{% endif %}</h1>
<div>
{% if not known %}
<p>Mucho gusto! (Nice to meet you!)</p>
{% else %}
<p>Enjoy your stay.</p>
{% endif %}
</div>



<form method="POST">
<!-- {{ form.hidden_tag() }}
{{ form.name.label }}{{ form.name(id='my-field-id') }}
{{ form.submit() }} -->

{{ wtf.quick_form(form) }}

</form>

{% endblock %}